<% include blocs/head.ejs %>

<!-- Main content-->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon fa fa-dashboard"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Tableau de bord</h3>
                        <small>
                            Bienvenue sur l'interface d'administration de la DCA Team
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-filled">
                    <div class="panel-body text-center">
                        <h3>
                            Aucune fonctionnalité
                            <br>
                            n'est disponible dans le tableau de bord pour le moment</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End main content-->

<% include blocs/foot.ejs %>