<% include blocs/head.ejs %>

<!-- Main content-->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon fa fa-cogs"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Mes informations</h3>
                        <small>
                            Voici tes informations personnelles
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-filled">
                    <div class="panel-body text-center">
                        <h3>Cette fonctionnalité n'est pas encore disponible</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End main content-->

<% include blocs/foot.ejs %>