<footer class="section bg-gray footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <h5>DCA Team</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/#home">Intro</a>
                    </li>
                    <li>
                        <a href="/#features">Actualités</a>
                    </li>
                    <li>
                        <a href="/#stream">Stream</a>
                    </li>
                    <li>
                        <a href="/#pricing">Devenir membre</a>
                    </li>
                    <li>
                        <a href="/#team">Fondateurs</a>
                    </li>
                    <li>
                        <a href="/#faq">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <h5>Nous suivre</h5>
                <ul class="list-unstyled">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/The.DCA.Team/">Facebook</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/thedcateam">Twitter</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/channel/UCJ-xg1zKV04LJQlrVql7qVQ">YouTube</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.tipeee.com/dca-team">Tipeee</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.twitch.tv/dca_team">Twitch</a>
                    </li>
                </ul>
            </div>
            <!--<div class="col-md-3 col-sm-6 text-center">-->
                <!--<h5>Support</h5>-->
                <!--<ul class="list-unstyled">-->
                    <!--<li>-->
                        <!--<a href="">Help & Support</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">Privacy Policy</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">Terms & Conditions</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="col-md-4 col-sm-12 text-center">
                <h5>Nous contacter</h5>
                <address>
                    4 Rue Achille Emperaire<br>
                    Aix-en-Provence, 13090<br>
                    07 77 36 35 88<br/>
                    <a href="mailto:lugada@lugada.com">contact@thedcateam.com</a>
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-alt">
                    <p class="pull-right text-muted m-b-0">
                        2016 © <a target="_blank" href="http://jeremyfroment.fr">Jérémy Froment</a>
                    </p>
                    <a class="navbar-brand logo" href="/">
                        <img src="/images/logo.png" alt="dca team" width="50">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"> <i class="zmdi zmdi-chevron-up"> </i> </a>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="/javascripts/wow.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.sticky.js"></script>
<script type="text/javascript" src="/javascripts/jquery.app.js"></script>
</body>
</html>